<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form class="form-horizontal" action="/users/login" method="post">
            <div class="control-group">
                <div class="control-label">
                    <label>Username</label>
                </div>

                <div class="controls">
                    <input type="text" name="username">
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label>Password</label>
                </div>

                <div class="controls">
                    <input type="password" name="password">
                </div>
            </div>
            <button type="submit" class="btn">Log in!</button>
        </form>
    </body>
</html>
